.card {
    position: relative;
    width: 400px;
    height: 225px;

    text-align: center;

    background-color: black;
    color: white;
}

.message {
    height: 200%;
}

input[type=submit] {
    cursor: pointer;
    background-color: grey;
    margin: 6px 4px;
    padding: 2px 6px;
    border-radius: 4px;
}

p {
    font-size: 18pt;
}

form {
    position: relative;
    top: 4px;
}